﻿<!-- <p class="h2 text-center pb-3 mb-4 border-bottom border-dark">Nouveau pointage</p> -->

<form [formGroup]="createForm" (ngSubmit)="onSubmit(createForm.value)" class="max-width-400">
    <div class="form-group">
        <label for="projet">Projet</label>
        <select formControlName="projet" class="form-control" >
            <option value="" selected>-Choisir un projet-</option>
            <option *ngFor="let p of projects" [value]="p.value">{{p.name}}</option>
        </select>
    </div>
    <div class="form-group" [ngClass]="shakeDate ? 'shake-right' : ''">
        <label for="date">Date</label>
        <div class="input-group">
            <input type="date" formControlName="date" class="form-control"/>
            <div class="input-group-append">
                <button class="btn btn-dark" type="button" (click)="onBtnTodayClick()">Aujourd'hui</button>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="temps">Temps (en heures)</label>
        <div class="input-group">
            <input type="number" formControlName="temps" class="form-control" min="1" max="8"
                onkeypress="return event.charCode >= 48 && event.charCode <= 57" placeholder="Temps en heures"/>
            <div class="input-group-append">
                <button class="btn btn-no-outline" [class.btn-outline-dark]="f.temps.value != 1" [class.btn-dark]="f.temps.value == 1" type="button" (click)="onBtnTimeClick(1)">1</button>
                <button class="btn btn-no-outline" [class.btn-outline-dark]="f.temps.value != 2" [class.btn-dark]="f.temps.value == 2" type="button" (click)="onBtnTimeClick(2)">2</button>
                <button class="btn btn-no-outline" [class.btn-outline-dark]="f.temps.value != 4" [class.btn-dark]="f.temps.value == 4" type="button" (click)="onBtnTimeClick(4)">4</button>
                <button class="btn btn-no-outline" [class.btn-outline-dark]="f.temps.value != 8" [class.btn-dark]="f.temps.value == 8" type="button" (click)="onBtnTimeClick(8)">8</button>
            </div>
        </div>
        
    </div>
    <div class="form-group">
        <button class="btn generate mt-2" 
        [disabled]="!f.projet.value || !f.date.value || !f.temps.value">
            Ajouter Pointage
        </button>
    </div>
</form>