﻿<p class="text-center">Content de vous revoir {{currentUser.firstname}}</p>

<error-banner [msg]="errorMsg"></error-banner>

<div class="container row mx-auto">
    <div class="col px-2 my-2">
        <div class="accordion" id="my-accordion">
            <div class="card">
                <div class="card-header p-1 bg-dev" id="headingPlus">
                    <button class="btn bg-transparent btn-lg btn-block text-left text-white btn-no-outline collapsed" type="button" data-toggle="collapse" data-target="#collapsePlus">
                        Plus d'informations
                    </button>
                </div>
                <div id="collapsePlus" class="collapse" data-parent="#my-accordion">
                    <div class="card-body bg-light">
                        <p class="h5">A propos de {{currentUser.firstname}} {{currentUser.lastname}}.</p>
                        <ul class="list-group">
                            <li class="list-group-item">Email : {{currentUser.email}}</li>
                            <li class="list-group-item">Rôle : {{currentUser.role}}</li>
                            <li class="list-group-item" *ngIf="manager != null"> Manager : {{manager.firstname}} {{manager.lastname}}</li>
                            <li class="list-group-item" *ngIf="manager == null"> Manager : chargement...</li>
                            <li class="list-group-item">Nombre de projets : {{currentUser.projects.length}}</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header p-1 bg-dev" id="headingNew">
                    <button class="btn bg-transparent btn-lg btn-block text-left text-light btn-no-outline collapsed" type="button" data-toggle="collapse" data-target="#collapseNew">
                        Nouveau Pointage
                    </button>
                </div>
            
                <div id="collapseNew" class="collapse" data-parent="#my-accordion">
                    <div class="card-body bg-light">
                        <dev-create (refreshUsertimes)="refreshUsertimes()" (displayError)="displayError($event)" ></dev-create>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header p-1 bg-dev" id="headingExport">
                    <button class="btn bg-transparent btn-lg btn-block text-left text-white btn-no-outline collapsed" type="button" data-toggle="collapse" data-target="#collapseExport">
                        Exporter en PDF
                    </button>
                </div>
                <div id="collapseExport" class="collapse" data-parent="#my-accordion">
                    <div class="card-body bg-light">
                        <dev-export [oldest_ut_date]="oldest_ut_date" [dev]="currentUser" (displayError)="displayError($event)"></dev-export>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div class="col-12 col-lg-6 px-2 my-2 ">
    <div class="table-responsive">

        <table class="table table-striped">
            <caption>Liste des mes pointages.</caption>
            <thead class="table-dark">
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Projet</th>
                    <th scope="col">Temps</th>
                </tr>    
            </thead>
            <tbody>
                <tr *ngFor="let ut of currUsertimes; let i = index;">
                    <th scope="row" *ngIf="ut.isLocked"><button class="btn btn-link text-dark py-0 px-1" disabled><i class="fa fa-lock"></i></button> {{ut.date}}</th>
                    <th scope="row" *ngIf="modifying != i && !ut.isLocked"><button class="btn btn-link text-dark py-0 px-1" (click)="modifying=i">
                        <i class="fa fa-pen"></i>
                    </button> {{ut.date}}</th>
                    <td *ngIf="modifying != i">{{ut.project.name}}</td>
                    <td *ngIf="modifying != i">{{ut.time}}</td>

                    <td colspan="3" class="" *ngIf="modifying == i">
                        <div class="d-flex align-items-center">
                            <button class="btn bg-transparent text-dark p-0 pr-1 input-group-prepend" [disabled]="ut.isLocked">
                                <i class="fa fa-times" (click)="modifying=-1"></i>
                            </button>
                            <input type="date" [(ngModel)]="modifiedUTs[i].date" class="form-control form-control-sm"/>
                            <select id="projet{{i}}" class="form-control form-control-sm mx-1 min-w-110">
                                <option *ngFor="let p of projects" [(ngModel)]="modifiedUTs[i].project.id" [selected]="ut.project.id == p.value">{{p.name}}</option>
                            </select>
                            <input type="number" [(ngModel)]="modifiedUTs[i].time" class="form-control form-control-sm my-time-control" min="1" max="8"
                                onkeypress="return event.charCode >= 48 && event.charCode <= 57"/>
                            <div class="input-group-append">
                                <button class="btn btn-outline-success my-inline-btn p-0 ml-1" (click)="onChangeUsertime(i)"><i class="fa fa-check"></i></button>
                                <button class="btn btn-outline-danger my-inline-btn p-0" (click)="onDeleteUsertime(i)"><i class="fa fa-trash"></i></button>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <nav>
        <ul class="pagination pagination-sm justify-content-center" *ngIf="maxPage > 1">
            <li class="page-item" [class.disabled]="currPage <= 0"><button class="page-link" href="#" (click)="onPagePrevious()" [disabled]="currPage <= 0"><</button></li>
            <li class="page-item bg-dev" *ngFor="let item of [].constructor(maxPage); let i = index;" [class.active] = "i == currPage">
                <button class="page-link" href="#" (click)="onPageChange(i)">
                    {{i+1}}
                </button>
            </li>
            <li class="page-item" [class.disabled]="currPage + 1 >= maxPage"><button class="page-link" href="#" (click)="onPageNext()" [disabled]="currPage + 1 >= maxPage">></button></li>
        </ul>
    </nav>
    </div>
</div>

<style>
    .my-inline-btn {
        width: 1.7em;
        height: 1.7em;
    }

    .my-time-control {
        width: 3.1em;
    }

    .min-w-110 {
        min-width: 110px;
    }
</style>