// https://animista.net/
.shake-right {
	animation: shake-right 0.7s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

@keyframes shake-right {
    0%,
    100% {
      transform: rotate(0deg);
      transform-origin: 100% 50%;
    }
    10% {
      transform: rotate(1deg);
    }
    20%,
    40%,
    60% {
      transform: rotate(-2deg);
    }
    30%,
    50%,
    70% {
      transform: rotate(2deg);
    }
    80% {
      transform: rotate(-1deg);
    }
    90% {
      transform: rotate(1deg);
    }
}


// AVOCADO DANCE  https://cssanimate.com/ 
.avocado-shake{
  animation: anim-avocado-shake linear 0.8s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
  -webkit-animation: anim-avocado-shake linear 0.8s;
  -webkit-animation-iteration-count: infinite;
  -webkit-transform-origin: 50% 50%;
  -moz-animation: anim-avocado-shake linear 0.8s;
  -moz-animation-iteration-count: infinite;
  -moz-transform-origin: 50% 50%;
  -o-animation: anim-avocado-shake linear 0.8s;
  -o-animation-iteration-count: infinite;
  -o-transform-origin: 50% 50%;
  -ms-animation: anim-avocado-shake linear 0.8s;
  -ms-animation-iteration-count: infinite;
  -ms-transform-origin: 50% 50%;
}

@keyframes anim-avocado-shake{
  0% {
    transform:  rotate(-5deg) ;
  }
  50% {
    transform:  rotate(5deg) ;
  }
  100% {
    transform:  rotate(-5deg) ;
  }
}

@-moz-keyframes anim-avocado-shake{
  0% {
    -moz-transform:  rotate(-5deg) ;
  }
  50% {
    -moz-transform:  rotate(5deg) ;
  }
  100% {
    -moz-transform:  rotate(-5deg) ;
  }
}

@-webkit-keyframes anim-avocado-shake {
  0% {
    -webkit-transform:  rotate(-5deg) ;
  }
  50% {
    -webkit-transform:  rotate(5deg) ;
  }
  100% {
    -webkit-transform:  rotate(-5deg) ;
  }
}

@-o-keyframes anim-avocado-shake {
  0% {
    -o-transform:  rotate(-5deg) ;
  }
  50% {
    -o-transform:  rotate(5deg) ;
  }
  100% {
    -o-transform:  rotate(-5deg) ;
  }
}

@-ms-keyframes anim-avocado-shake {
  0% {
    -ms-transform:  rotate(-5deg) ;
  }
  50% {
    -ms-transform:  rotate(5deg) ;
  }
  100% {
    -ms-transform:  rotate(-5deg) ;
  }
}