/* You can add global styles to this file, and also import other style files
 https://sass-lang.com/guide
*/

/* BUTTON */
.btn-no-outline:focus {
    box-shadow: none;
}

button.submit {
    background-color: #5555ff;
}
button.submit:hover {
    background-color: #5050ff;
}

button.generate {
    background-color: #147014;
    color: white;
}
button.generate:hover {
    background-color: #289228;
}

button.generate:disabled {
    opacity: 0.5;
}

button.redirect {
    background-color: #bbbbff;
}
button.redirect:hover {
    background-color: #aaaadd;
}

/* FORMS et INPUTS */
form.max-width-400 {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

input {
    border: 1px solid #333333
}

select {
    border: 1px solid #333333
}

a {
    cursor: pointer;
}

/* HEADER COLOR (depending on currentUser's role) */
.bg-dev {
    background-color: #31A1F1;
}

.text-dev {
    color: #31A1F1;
}

.bg-admin {
    background-color: #F0AD2C;
}
.bg-admin:disabled {
    opacity: 0.5;
}

.text-admin {
    color: #F0AD2C;
}

.my-disabled {
    opacity: 0.5;
}

.bg-manager {
    background-color: #AA60F8;
}

.text-manager {
    color: #AA60F8;
}

#navbar {
    z-index: 30;
}