<form [formGroup]="createForm" (ngSubmit)="onSubmit(createForm.value)" class="max-width-400">
    <div class="form-group">
        <label for="projet">Projet*</label>
        <div class="input-group">
            <input type="text" class="form-control" formControlName="projectName" required>
        </div>
    </div>
    <div class="form-group">
        <label for="description">Description*</label>
        <div class="input-group">
            <textarea class="form-control" formControlName="projectDescription" cols="60" rows="5" required></textarea>
        </div>
    </div>
    <div class="form-group">
        <button class="btn generate mt-2" 
        [disabled]="!f.projectName.value || !f.projectDescription.value">
            Ajouter Projet
        </button>
    </div>
</form>