﻿<!-- nav -->
<header class="navbar sticky-top navbar-expand-lg navbar-dark flex-column flex-md-row" *ngIf="currentUser"
[class.bg-dev] = "currentUser.role == 'DEV'"
[class.bg-manager] = "currentUser.role == 'MANAGER'"
[class.bg-admin] = "currentUser.role == 'ADMIN'" id="navbar">
    <a class="navbar-brand text-white">WebApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" routerLinkActive="active" [ngSwitch]="currentUser.role">
                <a class="nav-link" *ngSwitchCase="'DEV'" [routerLink]="['/dev-home']" >Home</a>
                <a class="nav-link" *ngSwitchCase="'MANAGER'" [routerLink]="['/manager-home']" >Home</a>
                <a class="nav-link" *ngSwitchCase="'ADMIN'" [routerLink]="['/admin-home']" >Home</a>
            </li>
            <li class="nav-item" *ngIf="currentUser.role=='MANAGER' || currentUser.role=='ADMIN'" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['/manager-project-view']">Project View</a>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item navbar-right">
              <a class="nav-link" (click)="logout()">Logout</a>
            </li>
        </ul>
    </div>
</header>

<!-- main app container -->
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col">
                <alert></alert>
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>