﻿
<p class="text-center">Content de vous revoir {{currentUser.firstname}}</p>

<error-banner [msg]="errMsg"></error-banner>

<div class="row mx-auto mb-3">
    <div class="col-12 col-lg-9 bg-light py-3">
        <p class="h5">Critères de recherche : </p>
        <hr class="mt-2">
        <form [formGroup]="filterForm">
            <div class="form-row mx-auto">
                <label for="input-role" class="col-4 col-lg-3 col-xl-3">Rôle : </label>
                <select id="input-role" formControlName="role" class="ml-2 form-control-sm col" (change)="onRoleFilterChange($event.target.value)">
                    <option value="">Tous</option>
                    <option value="DEV">DEV</option>
                    <option value="MANAGER">MANAGER</option>
                    <option value="ADMIN">ADMIN</option>
                </select>
            </div>
            <div class="form-row mx-auto mt-1">
                <label for="input-nom" class="col-4 col-lg-3 col-xl-3">Nom : </label>
                <input id="input-nom" formControlName="nom" class="ml-2 form-control-sm col"/>
            </div>
            <div class='form-row mx-auto mt-1'>
                <label for="input-manager" class="col-4 col-lg-3 col-xl-3" [class.my-disabled]="ff.nom_m.disabled">Nom du manager : </label>
                <input type="text" id="input-manager" name="input-manager" formControlName="nom_m" class="form-control-sm ml-2 col"/>
            </div>
            <div class="form-row mx-auto mt-1">
                <label for="input-manager" class="col-4 col-lg-3 col-xl-3" [class.my-disabled]="ff.projet.disabled">Projet associé : </label>
                <select type="text" id="input-manager" name="input-manager" formControlName="projet" class="form-control-sm ml-2 col">
                    <option value="">Tous</option>
                    <option *ngFor="let p of projects; let i = index;" value="{{p.id}}">{{p.name}}</option>
                </select>
            </div>
            <button class="btn bg-admin btn-block mt-3" (click)="onRefreshBtn()">Filter</button>
        </form>
    </div>
    <div class="d-flex flex-column align-self-end mt-3 col-12 col-lg-3">
       <button class="btn btn-light btn-block" (click)="onRefreshBtn()">Rafraîchir liste</button>
       <button class="btn generate btn-block" (click)="newUserModal.open()">Nouvel utilisateur</button>
    </div>
</div>

<div *ngIf="!loading" class="table-responsive">
    <table class="table table-sm table-striped table-hover">
        <thead class="bg-admin">
            <tr>
                <th scope="col">Rôle</th>
                <th scope="col">Nom</th>
                <th scope="col">Email</th>
                <th scope="col" style="width: 183px;"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let u of users; let i = index;">
                <th class="align-middle" [class.text-dev]="u.role == 'DEV'" [class.text-manager]="u.role == 'MANAGER'" [class.text-admin]="u.role == 'ADMIN'">{{u.role}}</th>
                <td class="align-middle">{{u.firstname}} {{u.lastname}}</td>
                <td class="align-middle">{{u.email}}</td>
                <td class="float-right">
                    <div id="edit-buttons{{i}}" style="display: none;">
                        <button class="btn btn-sm btn-outline-danger" (click)="selected_user=u; delUserModal.open()"><i class="fa fa-trash"></i></button>
                        <button class="btn btn-sm bg-transparent" (click)="onKeyClick(u)"><i class="fa fa-key"></i></button>
                        <button class="btn btn-sm bg-transparent" (click)="onCardClick(u)"><i class="far fa-address-card"></i></button>
                        <button class="btn btn-sm bg-transparent" (click)="onPencilClick(u)"><i class="fa fa-pen"></i></button>
                        <button class="btn btn-sm bg-transparent" (click)="onMinusClick(i)"><i class="fa fa-minus"></i></button>
                    </div>
                    <button class="btn btn-sm bg-transparent" id="plus{{i}}" (click)="onPlusClick(i)"><i class="fa fa-plus"></i></button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div *ngIf="loading" class="text-center h1">
    <i class="fa fa-spinner fa-pulse"></i>
</div>

<modal #newUserModal>
    <ng-template #modalHeader><h2>Nouvel Utilisateur</h2></ng-template>
    <ng-template #modalBody>
        <form [formGroup]="createForm" (onSubmit)="onCreateUser()">
            <div class="form-row">
                <div class="form-group col-6">
                    <label for="new-user-nom">Nom :</label>
                    <input formControlName="nom" type="text" id="new-user-nom" class="form-control">
                </div>
                <div class="form-group col-6">
                    <label for="new-user-prenom">Prenom :</label>
                    <input formControlName="prenom" type="text" id="new-user-prenom" class="form-control">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-6">
                    <label for="new-user-email">Email :</label>
                    <input formControlName="email" type="email" id="new-user-email" class="form-control">
                </div>
                <div class="form-group col-6">
                    <label for="new-user-pass">Mot de passe :</label>
                    <input formControlName="pass" type="password" id="new-user-pass" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label for="new-user-role">Rôle : </label>
                <select formControlName="role" name="new-user-role" class="form-control">
                    <option value="DEV">Developpeur</option>
                    <option value="MANAGER">Manager</option>
                    <option value="ADMIN">Administrateur</option>
                </select>
            </div>
            <div class="form-group">
                <button *ngIf="!createUserLoading" class="btn generate mt-2" 
                [disabled]="!f.nom.value || !f.prenom.value || !f.email.value || !f.pass.value " (click)="onCreateUser()">
                    Créer Utilisateur
                </button>
                <button *ngIf="createUserLoading" class="btn generate mt-2" (click)="false;">
                    <i class="fa fa-spinner fa-pulse"></i>
                </button>
            </div>
        </form>
    </ng-template>
    <ng-template #modalFooter>
        <p class="text-muted">Nouvel Utilisateur</p>
    </ng-template>
</modal>

<modal #modUserModal>
    <ng-template #modalHeader><h2>Modification Utilisateur</h2></ng-template>
    <ng-template #modalBody>
        <form [formGroup]="modForm" (onSubmit)="onModifyUser()">
            <input type="hidden" formControlName="id">
            <div class="form-row">
                <div class="form-group col-6">
                    <label for="new-user-nom">Nom :</label>
                    <input formControlName="nom" type="text" id="new-user-nom" class="form-control">
                </div>
                <div class="form-group col-6">
                    <label for="new-user-prenom">Prenom :</label>
                    <input formControlName="prenom" type="text" id="new-user-prenom" class="form-control">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-12">
                    <label for="new-user-email">Email :</label>
                    <input formControlName="email" type="email" id="new-user-email" class="form-control">
                </div>
                <!-- <div class="form-group col-6">
                    <label for="new-user-pass">Mot de passe :</label>
                    <input formControlName="pass" type="password" id="new-user-pass" class="form-control">
                </div> -->
            </div>
            <!-- <div class="form-group">
                <label for="new-user-role">Rôle : </label>
                <select formControlName="role" name="new-user-role" class="form-control">
                    <option value="DEV">Developpeur</option>
                    <option value="MANAGER">Manager</option>
                    <option value="ADMIN">Administrateur</option>
                </select>
            </div> -->
            <div class="form-group">
                <button *ngIf="!modifyUserLoading" class="btn generate mt-2" 
                [disabled]="!fm.nom.value || !fm.prenom.value || !fm.email.value" (click)="onModifyUser()">
                    Mettre à jour l'utilisateur
                </button>
                <button *ngIf="modifyUserLoading" class="btn generate mt-2" (click)="false;">
                    <i class="fa fa-spinner fa-pulse"></i>
                </button>
            </div>
        </form>
    </ng-template>
    <ng-template #modalFooter>
        <p class="text-muted">Modification Utilisateur</p>
    </ng-template>
</modal>

<modal #delUserModal>
    <ng-template #modalHeader><h2>Suppression d'utilisateur</h2></ng-template>
    <ng-template #modalBody>
        <p class="h5">Vous vous apprétez à effecer un utilisateur !</p>
        <p><strong>Rôle du compte :</strong> {{selected_user.role}}<br>
        <strong>Nom :</strong> {{selected_user.firstname}} {{selected_user.lastname}}<br>
        <strong>Email : </strong>{{selected_user.email}}</p>
        <button *ngIf="!deleteUserLoading" class="btn btn-danger btn-block" (click)="onDeleteUser(selected_user.id)">Supprimer le compte</button>
        <button *ngIf="deleteUserLoading" class="btn btn-danger btn-block" (click)="false;">
            <i class="fa fa-spinner fa-pulse"></i>
        </button>
    </ng-template>
</modal>

<modal #setRoleModal>
    <ng-template #modalHeader><h2>Gestion du rôle</h2></ng-template>
    <ng-template #modalBody>
        <p class="h5" style="width: 300px;">Compte de {{selected_user.firstname}} {{selected_user.lastname}}!</p>
        
        <div class="row mx-auto my-3">
            <p class="col-2 mb-0 p-0">Role : </p>
            <button class="btn btn-sm col-3 mr-1 ml-auto btn-no-outline" (click)="fr.role.setValue('DEV')" [class.font-weight-bold]="selected_user.role == 'DEV'"
            [class.bg-dev]="fr.role.value == 'DEV'" [class.bg-light]="fr.role.value != 'DEV'">DEV</button>
            <button class="btn btn-sm col-3 btn-no-outline p-0" (click)="fr.role.setValue('MANAGER')" [class.font-weight-bold]="selected_user.role == 'MANAGER'"
            [class.bg-manager]="fr.role.value == 'MANAGER'" [class.bg-light]="fr.role.value != 'MANAGER'">MANAGER</button>
            <button class="btn btn-sm col-3 ml-1 mr-auto btn-no-outline" (click)="fr.role.setValue('ADMIN')" [class.font-weight-bold]="selected_user.role == 'ADMIN'"
            [class.bg-admin]="fr.role.value == 'ADMIN'" [class.bg-light]="fr.role.value != 'ADMIN'">ADMIN</button>
        </div>
        
        <form [formGroup]="roleForm">
            <input type="hidden" formControlName="role"/>
            <div class="form-group-inline mx-auto mb-3" *ngIf="fr.role.value == 'DEV'">
                <label for="input-manager" class="m-0 p-0">Manager : </label>
                <select id="input-manager" formControlName="manager" class="form-control-sm mx-1">
                    <option value="">*Pas de manager*</option>
                    <option *ngFor="let m of managers" value="{{m.id}}" [class.font-weight-bold]="selected_user.managerId == m.id">
                        {{m.firstname}} {{m.lastname}} <p *ngIf="selected_user.managerId == m.id">(manager actuel)</p>
                    </option>
                </select>
            </div>
            <button *ngIf="!setRoleLoading" class="btn generate btn-block" (click)="onRoleChange(selected_user.id)">Valider les modifications</button>
            <button *ngIf="setRoleLoading" class="btn generate btn-block" (click)="false;">
                <i class="fa fa-spinner fa-pulse"></i>
            </button>
        </form>
    </ng-template>
</modal>

<modal #modPassModal>
    <ng-template #modalHeader><h2>Modification Mot de Passe</h2></ng-template>
    <ng-template #modalBody>
        <p class="h5">Vous vous apprétez à modifier un mot de passe !</p>
        <p>Compte de {{selected_user.firstname}} {{selected_user.lastname}}<br>
        {{selected_user.email}}</p>
        <form [formGroup]="passForm">
            <input type="hidden" formControlName="uid"/>
            <div class="form-group">
                <label for="input-pass">Nouveau mot de passe</label>
                <input text="text" class="form-control" placeholder="******" formControlName="pass"/>
            </div>
        </form>
        <button *ngIf="!modPassLoading" class="btn btn-danger btn-block" 
            [disabled]="!fp.pass.value || fp.pass.value.length < 3" (click)="onChangePass(selected_user.id)">Valider le mot de passe</button>
        <button *ngIf="modPassLoading" class="btn btn-danger btn-block" (click)="false;">
            <i class="fa fa-spinner fa-pulse"></i>
        </button>
    </ng-template>
</modal>