<error-banner [msg]="errorMsg"></error-banner>

<div class="container row mx-auto">
    <div class="col-12 col-lg-5 px-2 my-2 ">
        <div class="accordion" id="my-accordion1">        
            <div class="card">
                <div class="card-header p-1 bg-warning" id="headingExport">
                    <button class="btn bg-transparent btn-lg btn-block text-left btn-no-outline collapsed" type="button" data-toggle="collapse" data-target="#collapseExport">
                        Créer un nouveau projet
                    </button>
                </div>
                <div id="collapseExport" class="collapse" data-parent="#my-accordion1">
                    <div class="card-body bg-light">
                        <project-create (displayError)="displayError($event)"></project-create>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col px-2 my-2">
        <div class="accordion" id="my-accordion">        
            <div class="card">
                <div class="card-header p-1 bg-manager text-white" id="headingColumn">
                    <div class="row mx-auto">
                        <p class="h5 col">Nom</p>
                        <p class="h5 col">Description</p>
                    </div>
                </div>
            </div>
            <div class="overflow-auto">
                <ng-template ngFor let-project [ngForOf]="projectList" let-i="index">                
                    <div class="card">
                        <div class="card-header p-1 bg-transparent" id="heading">
                            <button class="btn bg-transparent btn-lg btn-block text-left btn-no-outline collapsed" data-toggle="collapse" [attr.data-target]="'#collapse'+i">
                                <div class="row mx-auto">
                                    <!-- <p class="col card-text">{{project.name}}</p>
                                    <p class="col card-text">{{project.description}}</p> -->
                                    <p scope="row" class="col card-text" *ngIf="modifying != i">
                                        <button class="btn btn-link text-dark py-0 px-1" (click)="modifying=i">
                                            <i class="fa fa-pen"></i>
                                        </button> 
                                        {{project.name}}
                                    </p>
                                    <p class="col card-text" *ngIf="modifying != i">{{project.description}}</p>
                                    <div colspan="2" class="" *ngIf="modifying == i">
                                        <div class="d-flex align-items-center">
                                            <button class="btn bg-transparent text-dark p-0 pr-1 input-group-prepend mr-2">
                                                <i class="fa fa-times" (click)="modifying=-1"></i>
                                            </button>
                                            <input type="text" [(ngModel)]="modifiedProjects[i].name" class="col card-text form-control form-control-sm mr-2"/>
                                            <textarea type="text" [(ngModel)]="modifiedProjects[i].description" class="col card-text form-control form-control-sm mr-3"></textarea>
                                            <div class="text-right">
                                                <button class="btn btn-outline-success my-inline-btn p-0 ml-1 mr-1" (click)="onChangeProject(i)"><i class="fa fa-check"></i></button>
                                                <button class="btn btn-outline-danger my-inline-btn p-0 mr-1" (click)="onDeleteProject(i)"><i class="fa fa-trash"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </button>
                        </div>
                        <div id="collapse{{i}}" class="collapse" data-parent="#my-accordion">
                            <div class="card-body bg-light">
                                <button class="btn btn-success btn-block btn-no-outline" type="button" title="Ajouter un développeur à ce projet" (click)="addDevModal.open(); getAvailableDevs(project.id)">Ajouter</button>
                                <modal #addDevModal>
                                    <ng-template #modalHeader><h2>Choix du développeur</h2></ng-template>
                                    <ng-template #modalBody>
                                        <div class="bg-light">
                                            <div *ngIf="availableDevsList.length != 0;then devsAvailable else noDevsAvailable"></div>
                                            <ng-template #devsAvailable>
                                                <form>
                                                    <div class="form-group">
                                                        <select class="form-control" aria-label="Default select example" [(ngModel)]="devIdSelected" [ngModelOptions]="{standalone: true}">
                                                            <option *ngFor="let devAvailable of availableDevsList" [value]="devAvailable.id">{{devAvailable.firstname}} {{devAvailable.lastname}}</option>
                                                        </select>
                                                    </div>
                                                    <button type="submit" class="btn submit mt-2 text-white" (click)="addDevToProject(project.id)">Ajouter</button>
                                                </form>
                                            </ng-template>
                                            <ng-template #noDevsAvailable>Il n'y a pas de développeur disponible actuellement.</ng-template>
                                        </div>
                                    </ng-template>
                                    <ng-template #modalFooter>
                                        <p class="text-muted">Ajouter un nouveau développeur au projet : {{project.name}}</p>
                                    </ng-template>
                                </modal>
                                <div class="table-responsive">
                                    <table class="table table-bordered table-hover">
                                        <caption>Liste des développeurs associés au projet : {{project.name}}</caption>
                                        <thead class="thead-light">
                                            <tr>
                                                <th scope="col">Prénom</th>
                                                <th scope="col">Nom</th>
                                                <th scope="col">Email</th>
                                            </tr>    
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let dev of project.devs; let i=index;">
                                                <td>{{dev.firstname}}</td>
                                                <td>{{dev.lastname}}</td>
                                                <td>{{dev.email}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>                
                </ng-template>
            </div>
        </div>
    </div>
</div>

<style>
    .my-inline-btn {
        width: 1.7em;
        height: 1.7em;
    }

    .min-w-110 {
        min-width: 110px;
    }
</style>