﻿<p class="text-center">Content de vous revoir {{currentUser.firstname}}</p>
<error-banner [msg]="errorMsg"></error-banner>
<div class="accordion" id="my-accordion">        
    <div class="card">
        <div class="card-header p-1 bg-manager text-white" id="headingColumn">
            <div class="row mx-auto">
                <p class="h5 col-sm">Prénom</p>
                <p class="h5 col-sm">Nom</p>
                <p class="h5 col-sm">Email</p>
            </div>
        </div>
    </div>
    <ng-template ngFor let-dev [ngForOf]="devsProjectsInfos" let-i="index">
        <div class="card">
            <div class="card-header p-1 bg-transparent" id="heading">
                <button class="btn bg-transparent btn-lg btn-block text-left btn-no-outline collapsed" data-toggle="collapse" [attr.data-target]="'#collapse'+i">
                    <div class="row mx-auto">
                        <p class="col-sm card-text">{{dev.firstname}}</p>
                        <p class="col-sm card-text">{{dev.lastname}}</p>
                        <p class="col-sm card-text">{{dev.email}}</p>
                    </div>
                </button>
            </div>
            <div id="collapse{{i}}" class="collapse" data-parent="#my-accordion">
                <div class="card-body bg-light">
                    <button class="btn btn-success btn-block btn-no-outline" type="button" (click)="devExportModal.open()">Exporter en PDF</button>
                    <modal #devExportModal>
                        <ng-template #modalHeader><h2>Exporter en PDF</h2></ng-template>
                        <ng-template #modalBody>
                            <div class="bg-light">
                                <dev-export [oldest_ut_date]="dev.projects[0].oldest_ut_date" [dev]="dev" (displayError)="displayError($event)"></dev-export>
                            </div>
                        </ng-template>
                        <ng-template #modalFooter>
                            <p class="text-muted">Exporter les pointages de {{dev.firstname}} {{dev.lastname}} (choisissez le mois et l'année).</p>
                        </ng-template>
                    </modal>
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover">
                            <caption>Liste des projets associés à {{dev.firstname}} {{dev.lastname}}.</caption>
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col">Nom</th>
                                    <th scope="col">Pointage total</th>
                                    <th scope="col">Depuis le début du mois</th>
                                    <th scope="col">Action</th>
                                </tr>    
                            </thead>
                            <tbody>
                                <tr *ngFor="let usertime of dev.projects; let i=index;">
                                    <td>{{usertime.projectName}}</td>
                                    <td>{{usertime.totalTime}}</td>
                                    <td>{{usertime.curMonth}}</td>
                                    <td>
                                        <button class="btn bg-warning btn-sm btn-block btn-no-outline" type="button" title="Retirer {{dev.firstname}} {{dev.lastname}} du projet : {{usertime.projectName}}" (click)="deleteDevFromProject(dev.id, usertime.projectId)">
                                            Retirer
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
</div>
