﻿<form [formGroup]="createForm" (ngSubmit)="onSubmit(createForm.value)" class="max-width-400">
    <div class="form-row">
        <div class="form-group col-6">
            <label for="annee">Année</label>
            <select formControlName="annee" class="form-control" >
                <option *ngFor="let a of annees" [value]="a">{{a}}</option>
            </select>
        </div>
        <div class="form-group col-6">
            <label for="mois">Mois</label>
            <select formControlName="mois" class="form-control" >
                <option value="" selected>-Choisir un mois-</option>
                <option *ngFor="let m of mois" [value]="mois.indexOf(m)">{{m}}</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <button class="btn generate mt-2" 
        [disabled]="!f.mois.value || !f.annee.value">
            Télécharger PDF
        </button>
    </div>
</form>